# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace
go.work
go.work.sum

# Kubernetes/Test Specific paths to ignore
tests/test-setup/certs/
tests/test-setup/kubeconfigs/
tests/bin/
bin/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
